header img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

#filter-popup {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 70px;
  right: 20px;
  width: 20%;
  display: none;
  border: solid 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;

}

/* Overrided default style to avoid the filter overflow */
#filter-popup .ui-listview-filter {
  border-width: 0;
  margin: 0;
  overflow: hidden;
}

.arrow {
  position: absolute;
  border-bottom: solid 20px rgba(0, 0, 0, 0.7);
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  height:0;
  width:0;
  top: -30px;
  right: 5%;
}
